In [1]:
import mysql.connector

In [2]:

connection = mysql.connector.connect(host='localhost',
                                    port='3306',
                                    user='root',
                                    password='password')
cursor = connection.cursor()
# 創建資料庫
#cursor.execute("CREATE DATABASE `database2`;")
# 取得所有資料庫名稱
# cursor.execute("SHOW DATABASES;")
# records = cursor.fetchall()
# for r in records:
#     print(r)
# 啟用資料庫
cursor.execute("USE `Scores`;")
# 創建表格
# cursor.execute('CREATE TABLE `qq`(qq INT);')
#關閉
#cursor.close()
#connection.close()

In [3]:
cursor.execute("SHOW COLUMNS FROM `score`;")
attribes = cursor.fetchall()
attribes

[('student_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(20)', 'YES', '', None, ''),
 ('Chinese', 'int', 'YES', '', None, ''),
 ('English', 'int', 'YES', '', None, ''),
 ('Math', 'int', 'YES', '', None, ''),
 ('Physics', 'int', 'YES', '', None, ''),
 ('Chemical', 'int', 'YES', '', None, '')]

In [4]:
# 取得score表格內所有資料
cursor.execute('SELECT * FROM `score`;')
data = cursor.fetchall()
for d in data:
    print(d)

(1, '張三', 92, 85, 78, 89, 76)
(2, '李四', 78, 88, 95, 82, 90)
(3, '王五', 85, 93, 88, 76, 87)
(4, '赵六', 76, 82, 89, 90, 84)
(5, '陳七', 89, 77, 91, 88, 75)
(6, '劉八', 92, 79, 83, 87, 92)
(7, '黃九', 88, 91, 77, 84, 79)
(8, '吳十', 81, 84, 92, 76, 85)
(9, '張十一', 79, 86, 90, 91, 78)
(10, '李十二', 93, 82, 86, 85, 93)
(11, '王十三', 87, 90, 79, 83, 88)
(12, '赵十四', 90, 76, 85, 92, 77)
(13, '陳十五', 84, 92, 88, 78, 91)
(14, '劉十六', 78, 85, 90, 89, 84)
(15, '黃十七', 91, 79, 82, 76, 86)
(16, '吳十八', 87, 88, 91, 85, 79)
(17, '張十九', 79, 84, 92, 78, 83)
(18, '李二十', 93, 76, 87, 89, 80)
(19, '王二十', 85, 91, 80, 84, 77)
(20, '赵二十一', 88, 82, 76, 92, 81)
(21, '陳二十二', 84, 89, 85, 78, 89)
(22, '劉二十三', 77, 90, 91, 87, 85)
(23, '黃二十四', 90, 78, 88, 76, 92)
(24, '吳二十五', 91, 85, 83, 89, 78)
(25, '張二十六', 76, 86, 80, 84, 91)
(26, '李二十七', 92, 88, 77, 85, 86)
(27, '王二十八', 86, 79, 89, 76, 83)
(28, '赵二十九', 79, 90, 91, 88, 87)
(29, '陳三十', 88, 84, 78, 90, 76)
(30, '劉三十', 85, 87, 92, 77, 88)

In [5]:
# 新增資料
cursor.execute("INSERT INTO `score` VALUES(31, '洪三一', 89, 95, 92, 86, 79);")

In [6]:
#檢查新增狀況
cursor.execute("SELECT * FROM `score`;")
data = cursor.fetchall()
for d in data:
    print(d)

(1, '張三', 92, 85, 78, 89, 76)
(2, '李四', 78, 88, 95, 82, 90)
(3, '王五', 85, 93, 88, 76, 87)
(4, '赵六', 76, 82, 89, 90, 84)
(5, '陳七', 89, 77, 91, 88, 75)
(6, '劉八', 92, 79, 83, 87, 92)
(7, '黃九', 88, 91, 77, 84, 79)
(8, '吳十', 81, 84, 92, 76, 85)
(9, '張十一', 79, 86, 90, 91, 78)
(10, '李十二', 93, 82, 86, 85, 93)
(11, '王十三', 87, 90, 79, 83, 88)
(12, '赵十四', 90, 76, 85, 92, 77)
(13, '陳十五', 84, 92, 88, 78, 91)
(14, '劉十六', 78, 85, 90, 89, 84)
(15, '黃十七', 91, 79, 82, 76, 86)
(16, '吳十八', 87, 88, 91, 85, 79)
(17, '張十九', 79, 84, 92, 78, 83)
(18, '李二十', 93, 76, 87, 89, 80)
(19, '王二十', 85, 91, 80, 84, 77)
(20, '赵二十一', 88, 82, 76, 92, 81)
(21, '陳二十二', 84, 89, 85, 78, 89)
(22, '劉二十三', 77, 90, 91, 87, 85)
(23, '黃二十四', 90, 78, 88, 76, 92)
(24, '吳二十五', 91, 85, 83, 89, 78)
(25, '張二十六', 76, 86, 80, 84, 91)
(26, '李二十七', 92, 88, 77, 85, 86)
(27, '王二十八', 86, 79, 89, 76, 83)
(28, '赵二十九', 79, 90, 91, 88, 87)
(29, '陳三十', 88, 84, 78, 90, 76)
(30, '劉三十', 85, 87, 92, 77, 88)
(31, '洪三一', 89, 95, 92, 86, 79)

In [7]:
#刪除
cursor.execute("DELETE FROM `score` WHERE `student_id`=31;")

In [8]:
#檢查是否刪除
cursor.execute('SELECT * FROM `score`;')
data = cursor.fetchall()
for d in data:
    print(d)

(1, '張三', 92, 85, 78, 89, 76)
(2, '李四', 78, 88, 95, 82, 90)
(3, '王五', 85, 93, 88, 76, 87)
(4, '赵六', 76, 82, 89, 90, 84)
(5, '陳七', 89, 77, 91, 88, 75)
(6, '劉八', 92, 79, 83, 87, 92)
(7, '黃九', 88, 91, 77, 84, 79)
(8, '吳十', 81, 84, 92, 76, 85)
(9, '張十一', 79, 86, 90, 91, 78)
(10, '李十二', 93, 82, 86, 85, 93)
(11, '王十三', 87, 90, 79, 83, 88)
(12, '赵十四', 90, 76, 85, 92, 77)
(13, '陳十五', 84, 92, 88, 78, 91)
(14, '劉十六', 78, 85, 90, 89, 84)
(15, '黃十七', 91, 79, 82, 76, 86)
(16, '吳十八', 87, 88, 91, 85, 79)
(17, '張十九', 79, 84, 92, 78, 83)
(18, '李二十', 93, 76, 87, 89, 80)
(19, '王二十', 85, 91, 80, 84, 77)
(20, '赵二十一', 88, 82, 76, 92, 81)
(21, '陳二十二', 84, 89, 85, 78, 89)
(22, '劉二十三', 77, 90, 91, 87, 85)
(23, '黃二十四', 90, 78, 88, 76, 92)
(24, '吳二十五', 91, 85, 83, 89, 78)
(25, '張二十六', 76, 86, 80, 84, 91)
(26, '李二十七', 92, 88, 77, 85, 86)
(27, '王二十八', 86, 79, 89, 76, 83)
(28, '赵二十九', 79, 90, 91, 88, 87)
(29, '陳三十', 88, 84, 78, 90, 76)
(30, '劉三十', 85, 87, 92, 77, 88)

In [9]:
#顯示國語平均數
cursor.execute("SELECT AVG(`Chinese`) FROM `score`")
avg = cursor.fetchall()
avg

[(Decimal('85.4333'),)]

In [10]:
#特定條件下的資料: 物理超過80分 且 化學超過80分
cursor.execute("SELECT `name` FROM `score` WHERE `Physics`>80 AND `Chemical` >80;")
names = cursor.fetchall()
names

[('李四',),
 ('赵六',),
 ('劉八',),
 ('李十二',),
 ('王十三',),
 ('劉十六',),
 ('赵二十一',),
 ('劉二十三',),
 ('張二十六',),
 ('李二十七',),
 ('赵二十九',)]

In [11]:
cursor.close()
connection.close()